.order-page {
  background-color: #e3f2fd;          
      
}
.order-container {
  border-radius: 12px;
  padding: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}



.

/* Khung sản phẩm */
.order-details__item {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  
 
}

/* Hình ảnh */
.order-details__image {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

/* Nội dung sản phẩm */




.order-details__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  word-break: break-word;
}


.order-details__remove:hover {
  color: red;
}

.order-details__price {
  font-size: 16px;
  color: #e60000;
  margin-bottom: 8px;
  
}

.order-details__quantity {
  font-size: 14px;
  margin-bottom: 8px;
 
}

.order-details__total {
  font-weight: 500;
  font-size: 15px;
 
}

/* Thông tin đơn hàng */


.order-summary h5 {
  font-weight: bold;
}

.order-summary p {
  font-size: 14px;
}

.order-summary button {
  background: #00bcd4;
  border: none;
  font-weight: bold;
}

.order-summary button:hover {
  background: #0097a7;
}

/* Responsive */

.order-details__remove {
  font-size: 20px;
  color: #999;
  cursor: pointer;
  margin-left: 430px;
  white-space: nowrap;
  flex-shrink: 0;
  
}
.order-seller {
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.order-seller h5 {
  font-weight: bold;
  color: #333;
}

.order-seller p {
  margin-bottom: 8px;
}

.order-summary {
  border: 1px solid #b3e5fc;
  border-radius: 8px;
  
  padding: 30px;
  font-size: 16px;
  margin-left: auto;
}


